#mainPage {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;

	.pane {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: scale(0.8);

		.photo {
			display: block;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}

	&.show {
		pointer-events: initial;

		.pane {
			opacity: 1;
			transform: scale(1);
			transition: transform 0.5s ease, opacity 0.5s ease;
		}
	}
}