#navbar {
	pointer-events: none;

	.navbar-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 32px;
		line-height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.link-wrapper {
		a {
			text-decoration: none;
			mix-blend-mode: difference;
			transition: color 0.25s ease, text-shadow 0.15s ease;

			&:hover {
				color: #fff;
				text-shadow: 0px 2px 10px #fff;
			}
		}

		&.middle {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}

		&.first,
		&.last {
			position: absolute;
			top: 0;
			left: 0;
		}

		&.last {
			left: auto;
			right: 0;
		}

		i {
			font-weight: bold;
		}

		.exhibit-link i {
			position: relative;
			font-size: 18px;
			transform: rotate(45deg);
			display: inline-block;
			right: -4px;
			bottom: -2px;
		}

		.close-link i {
			position: relative;
			bottom: -2px;
			font-size: 20px;
		}

		.exhibit-label i {
			position: relative;
			bottom: -1px;
			font-size: 18px;
			left: -4px;
		}
	}

	.exhibit-link,
	.more-link,
	.close-link {
		display: block;
		position: relative;
		padding: 0 14px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		opacity: 0;
		top: -32px;
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	.more-link {
		display: inline-block;
	}

	&.fullscreen {

		.exhibit-link,
		.close-link {
			pointer-events: initial;
			opacity: 1;
			transform: translateY(32px);
		}
	}

	&.show-exhibit {
		.more-link {
			pointer-events: initial;
			opacity: 1;
			transform: translateY(32px);
		}

		&.fullscreen {

			.more-link,
			.exhibit-action {
				opacity: 0;
				transform: translateY(0);
			}
		}
	}


}