#navbar {
	pointer-events: none;

	.navbar-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 32px;
		line-height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.exhibit-link,
	.more-link,
	.close-link {
		pointer-events: all;
		padding: 0 10px;
		text-transform: uppercase;
	}

	.more-link {}

	.close-link {}
}