#navbar {
	pointer-events: none;

	.navbar-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 32px;
		line-height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.link-wrapper {
		span {
			text-decoration: none;
		}

		a {
			text-decoration: none;

			&:hover {
				color: #fff;
				text-shadow: 0px 2px 10px #fff;
			}
		}

		&.middle {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}

		&.first,
		&.last {
			position: absolute;
			top: 0;
			left: 0;
		}

		&.last {
			left: auto;
			right: 0;
		}

		i {
			font-weight: bold;
		}

		.exhibit-link i {
			position: relative;
			font-size: 18px;
			transform: rotate(-45deg);
			display: inline-block;
			right: 2px;
			bottom: -2px;
			line-height: 1;
		}

		.close-link i {
			position: relative;
			bottom: -2px;
			font-size: 20px;
			line-height: 1;
		}

		.exhibit-label i {
			position: relative;
			bottom: -1px;
			font-size: 18px;
			left: -4px;
			line-height: 1;
		}
	}

	.exhibit-link,
	.more-link,
	.close-link {
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding: 0 14px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		opacity: 0;
		top: -32px;
		transition: opacity 0.3s ease, transform 0.3s ease, color 0.25s ease, text-shadow 0.15s ease;
	}

	.more-link {
		top: 0;
		opacity: 1;
		cursor: pointer;

		&.loading {
			pointer-events: none !important;
			opacity: 0.6 !important;
		}

		.exhibit-label {
			display: block;
			text-align: center;
			line-height: 1.5;
		}
	}

	.attribution {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		pointer-events: none;
		font-size: 12px;
		display: none;
		color: #fff;

		span {
			pointer-events: all;
		}

		a {
			color: lightgoldenrodyellow;
			text-decoration: overline;
		}
	}

	.player-wrapper {
		position: relative;
		top: -32px;
		transform: translateY(32px);
		transition: transform 0.25s ease;

		&::after {
			content: '|';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
		}

		.player-label {
			cursor: pointer;
			pointer-events: all;
			display: inline-block;
			position: relative;
			padding: 0 14px;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 1.5;
			font-weight: 600;
			color: #fff;
			opacity: 0;
			transition: opacity 0.3s ease, transform 0.3s ease, color 0.25s ease, text-shadow 0.15s ease;

			span,
			svg {
				transition: opacity 0.25s ease;
				opacity: 0.3;
				text-decoration: line-through;
			}

			svg {
				display: inline-block;
				position: relative;
				top: 5px;
				left: 2px;
			}

			&:hover {

				svg {
					opacity: 1;
				}
			}

			&.playing {

				span,
				svg {
					opacity: 1;
					text-decoration: none;
				}
			}
		}

		video {
			width: 0;
			height: 0;
			opacity: 0;
			pointer-events: none;
		}
	}

	.player-wrapper .player-label {
		top: 0;
		opacity: 1;
		cursor: pointer;
	}

	&.fullscreen {

		.more-link,
		.player-wrapper .player-label {
			transform: translateY(-32px);
		}

		.player-wrapper {
			&:after {
				display: none;
			}
		}

		.exhibit-link,
		.close-link {
			pointer-events: initial;
			opacity: 1;
			transform: translateY(32px);
			mix-blend-mode: difference;
		}
	}

	&.show-exhibit {
		.more-link {
			pointer-events: initial;
			opacity: 1;
			transform: translateY(0);
		}

		&.fullscreen {

			.more-link,
			.exhibit-action {
				opacity: 0;
				transform: translateY(-32px);
			}
		}
	}
}