#preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;

	.pane {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;

		.panel {
			display: block;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}

	.pane-further {
		opacity: 0;
		bottom: -20px;
		transition: transform 0.2s ease, opacity 0.2s ease;
	}

	.pane-middle {
		opacity: 0;
		bottom: -30px;
		transition: transform 0.3s ease, opacity 0.3s ease;
		transition-delay: 0.15s;
	}

	.pane-closer {
		opacity: 0;
		bottom: -40px;
		transition: transform 0.4s ease, opacity 0.4s ease;
		transition-delay: 0.3s;
	}

	&.loading {
		.pane-further {
			opacity: 1;
			transform: translateY(-20px);
		}

		.pane-middle {
			opacity: 1;
			transform: translateY(-30px);
		}

		.pane-closer {
			opacity: 1;
			transform: translateY(-40px);
		}
	}
}