.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;

	.pane {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.panel {
			display: block;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
		}

		&.pane-closer {
			.panel-1 {
				height: 200px;
				width: 120px;
				top: 20px;
				left: 80%;
			}

			.panel-2 {
				height: 200px;
				width: 120px;
				top: 50%;
				left: 80px;
			}

			.panel-3 {
				height: 200px;
				width: 120px;
				top: 60%;
				left: 70%;
			}
		}
	}
}