#timeline {
	position: absolute;
	width: 100%;
	height: 64px;
	margin: 0 auto;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: transparent;
	transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;

	.dialer {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0 50%;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grab;

		&::-webkit-scrollbar {
			display: none;
		}

		&:active {
			cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grabbing;
		}

		li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			flex-shrink: 0;
			transition: background-color 0.5s ease;

			span {
				position: relative;
				padding: 0 14px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.05);
				display: block;
				text-align: center;
				mix-blend-mode: difference;
				transition: color 0.5s ease;
			}

			&.active {
				background-color: rgba(255, 255, 255, 0.1);

				span {
					color: #fff;
					text-shadow: 0px 2px 10px #fff;
				}
			}
		}
	}

	&.dialing,
	&:hover {
		background-color: rgba(0, 0, 0, 0.25);

		.dialer li {
			span {
				color: rgba(255, 255, 255, 1);
			}

			&.active {
				background-color: rgba(255, 255, 255, 0);

			}
		}
	}

	&.downloading {
		pointer-events: none;
	}

	&.hide {
		opacity: 0;
		pointer-events: none;
		transform: translateY(64px);
	}
}