#timeline {
	position: absolute;
	width: 100%;
	height: 180px;
	margin: 0 auto;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: #000;

	.triangle-up {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid red;
		z-index: 1;
	}

	.cover {
		position: absolute;
		top: 0;
		width: 100%;
		height: 50px;
		z-index: 1;
		pointer-events: none;

		.cover-left,
		.cover-right {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(50% - 30px);
			height: 100%;
			background-color: black;
		}

		.cover-right {
			left: initial;
			right: 0;
		}

		.cover-selection {
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 60px;
			height: 40px;
			border: 2px solid red;
			border-radius: 5px;
		}
	}

	.dialer {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0 50%;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grab;

		&::-webkit-scrollbar {
			display: none;
		}

		&:active {
			cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grabbing;
		}

		li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 60px 10px 20px 10px;
			width: 60px;
			flex-shrink: 0;
			transition: background-color 0.3s ease;

			i {
				display: block;
				position: absolute;
				top: 20px;
				left: 0;
				right: 0;
				margin: 0 auto;
				text-align: center;
			}

			span {
				display: block;
				transform: rotate(-90deg);
				transition: all 0.3s ease;
			}

			&.active {
				background-color: #0b0b1f;

				span {
					color: red;
				}
			}
		}
	}
}