#timeline {
	position: absolute;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	border: 2px solid green;
}