#timeline {
	position: absolute;
	width: 100%;
	height: 64px;
	margin: 0 auto;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: transparent;
	transition: transform 0.5s ease, opacity 0.5s ease;
	mix-blend-mode: difference;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 3px;
		height: 3px;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		mix-blend-mode: difference;
	}

	.dialer-wrapper {
		position: relative;
		height: 100%;
		overflow: hidden;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background-color: transparent;
		transition: background-color 0.5s ease;
		width: 648px;

		@media (min-width: 900px) {
			width: 832px;
		}

		@media (min-width: 1100px) {
			width: 1016px;
		}

		@media (min-width: 1500px) {
			width: 1200px;
		}

		@media (min-width: 1700px) {
			width: 1384px;
		}

		@media (min-width: 1900px) {
			width: 1568px;
		}

		&.dialing,
		&:hover {
			background-color: rgba(255, 255, 255, 0.05);

			.dialer li {
				&:before {
					background: linear-gradient(to top, rgba(255, 255, 255, 0.25), transparent);
				}

				span {
					color: rgba(255, 255, 255, 1);
				}

				&.active {
					background-color: rgba(255, 255, 255, 0);

				}
			}
		}
	}

	.dialer {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0 50%;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grab;

		&::-webkit-scrollbar {
			display: none;
		}

		&:active {
			cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="105" height="20" viewBox="0 0 80 20"><text x="0" y="15" font-family="monospace" font-size="14" fill="white" stroke="white" stroke-width="1">&lt; DRAG ME &gt;</text></svg>') 40 10, grabbing;
		}

		li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 92px;
			flex-shrink: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			transition: background-color 0.5s ease;

			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 1px;
				height: 30%;
				transition: background 0.5s ease;
				background: linear-gradient(to top, rgba(255, 255, 255, 0.05), transparent);
			}

			span {
				position: relative;
				padding: 0 14px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.1);
				display: block;
				text-align: center;
				mix-blend-mode: difference;
				transition: color 0.5s ease;
			}

			&.active {
				background-color: rgba(255, 255, 255, 0.1);

				span {
					color: #fff;
				}
			}
		}
	}

	&.downloading {
		pointer-events: none;
	}

	&.hide {
		opacity: 0;
		pointer-events: none;
		transform: translateY(64px);
	}

	.preload-instructions {
		position: absolute;
		bottom: 70px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.8);
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	.instructions {
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.25s ease, transform 0.25s ease;

		p.instruct {
			position: relative;
			background-color: rgba(255, 255, 255, 0.1);
			text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
			border-radius: 5px;
			padding: 12px 16px;
			border-radius: 5px;

			.arrow-down {
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 10px solid rgba(255, 255, 255, 0.1);
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}

			.arrow-right {
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 10px solid rgba(255, 255, 255, 0.1);
				position: absolute;
				right: -10px;
				top: 0;
				bottom: 0;
				margin: auto 0;
			}
		}

		p:not(.instruct) {
			padding: 0 20px;
		}
	}

	.century-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		right: 0;
		bottom: 5px;
		padding: 0;
		pointer-events: all !important;
		z-index: 1;
		font-weight: bold;

		&.left {
			left: -10px;
			right: auto;


			span {
				padding-left: 20px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				&:hover {
					transform: translateX(5px);
				}
			}
		}

		&.right {
			right: -10px;
			left: auto;

			span {
				padding-right: 20px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				&:hover {
					transform: translateX(-5px);
				}
			}
		}

		span {
			display: block;
			text-decoration: none;
			padding: 10px;
			color: rgba(255, 255, 255, 1);
			background-color: rgba(255, 255, 255, 0.1);
			margin: 5px 0;
			text-transform: initial;
			transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s ease;

			&:hover {
				cursor: pointer;
				color: rgba(255, 255, 255, 1);
				background-color: rgba(255, 255, 255, 0.25);
			}
		}

	}
}